- var tablet = 1001
- var laptop = 1301
- var mobile = 701


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    COMPONENT                                                                //
//-   ---------------                                                           //
//-    MENU ITEM                                                                //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin MenuItem(text)
    a(href="#").u-noUnderline
        .MenuItem-main
            .MenuItem-container
                if text
                    #{text}
                else
                    |Placeholder 1


mixin MenuItem--login(text)
    a(href="#").u-noUnderline
        .MenuItem-main
            .MenuItem-container.MenuItem-container--login.u-cf
                .MenuItem-icon.icon-login.u-floatLeft
                .MenuItem-text.u-floatLeft
                    if text
                        #{text}
                    else
                        |Placeholder 1


mixin MenuItem--secondary(text)
    a(href="#").u-noUnderline
        .MenuItem-main.MenuItem-main--secondary
            .MenuItem-container.MenuItem-container--secondary
                if text
                    #{text}
                else
                    |Placeholder 1


mixin MenuItem--secondary--first(text)
    a(href="#").u-noUnderline
        .MenuItem-main.MenuItem-main--secondary
            .MenuItem-container.MenuItem-container--secondary.MenuItem-container--secondary--first
                if text
                    #{text}
                else
                    |Placeholder 1


mixin MenuItem--main(text)
    a(href="#").u-noUnderline
        .MenuItem-main.MenuItem-main--main
            .MenuItem-container.MenuItem-container--main
                .MenuItem-box
                    .MenuItem-text.MenuItem-text--noPadding
                        if text
                            #{text}
                        else
                            |Placeholder 1


mixin MenuItem--search(text)
    a(href="#").u-noUnderline
        .MenuItem-main.MenuItem-main--main.MenuItem-main--main--saerch
            .MenuItem-container.MenuItem-container--main
                .MenuItem-box
                    .MenuItem-text.MenuItem-text--noPadding
                        .MenuItem-icon--search.icon-search


mixin MenuItem--main--dropdown(text)
    a(href="#").u-noUnderline
        .MenuItem-main.MenuItem-main--main
            .MenuItem-container.MenuItem-container--main
                .MenuItem-box
                    .MenuItem-text
                        if text
                            #{text}
                        else
                            |Placeholder 1


mixin MenuItem--footer(text)
    a(href="#").u-noUnderline
        .MenuItem-main.MenuItem-main--footer
            .MenuItem-container.MenuItem-container--footer.u-cf
                .MenuItem-icon--footerDot.icon-footerDot.u-floatLeft
                .MenuItem-text.MenuItem-text--footer.u-floatLeft
                    if text
                        #{text}
                    else
                        |Placeholder 1


mixin MenuItem--footer--first(text)
    a(href="#").u-noUnderline
        .MenuItem-main.MenuItem-main--footer
            .MenuItem-container.MenuItem-container--footer
                .MenuItem-text.MenuItem-text--footer
                    if text
                        #{text}
                    else
                        |Placeholder 1


mixin Column(heading, ...items)
    a(href="#").u-noUnderline
        .Column-main
            .Column-heading
                if heading
                    #{heading}
                else
                    |Placeholder 1
            each val in items
                .Column-item= items


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    MENU DROPDOWN                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin MenuDropdown(Heading, ...items)
    select.MenuDropdown-main
        option.MenuDropdown-item(disabled selected)
        each val in items
            option.MenuDropdown-item(value="http://www.google.coms")= items


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    SOCIAL MEDIA                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin SocialMedia
    .SocialMedia-main.u-cf
        a(href="")
            .SocialMedia-icon.SocialMedia-icon--twitter.icon-twitter.u-floatLeft
        a(href="")
            .SocialMedia-icon.SocialMedia-icon--linkedin.icon-linkedin.u-floatLeft
        a(href="")
            .SocialMedia-icon.SocialMedia-icon--facebook.icon-facebook.u-floatLeft
        a(href="")
            .SocialMedia-icon.SocialMedia-icon--google.icon-google.u-floatLeft
        a(href="")
            .SocialMedia-icon.SocialMedia-icon--youtube.icon-youtube.u-floatLeft
        a(href="")
            .SocialMedia-icon.SocialMedia-icon--rss.icon-rss.u-floatLeft


mixin SocialMedia--black
    .SocialMedia-main.SocialMedia-main--white.u-cf
        a(href="")
            .SocialMedia-icon.SocialMedia-icon--twitter--black.icon-twitterBlack.u-floatLeft
        a(href="")
            .SocialMedia-icon.icon-linkedinBlack.SocialMedia-icon--linkedin--black.u-floatLeft
        a(href="")
            .SocialMedia-icon.icon-facebookBlack.SocialMedia-icon--facebook--black.u-floatLeft
        a(href="")
            .SocialMedia-icon.icon-googleBlack.SocialMedia-icon--google--black.u-floatLeft
        a(href="")
            .SocialMedia-icon.icon-youtubeBlack.SocialMedia-icon--youtube--black.u-floatLeft
        a(href="")
            .SocialMedia-icon.icon-rssBlack.SocialMedia-icon--rss--black.u-floatLeft


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    SEARCH                                                                   //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin Search
    .Search-main.u-cf
        .Search-keywordContainer.u-floatLeft
            input.Search-keyword(placeholder="Search")
        .Search-categoryContainer.u-floatLeft
            select.Search-category
                each val in [1,2,3]
                    option= val
        .Search-buttonContainer.u-floatLeft
            button.Search-button Search


mixin Quote
    .Quote-main
        .Quote-row1.u-cf
            .Quote-openQuote.icon-openQuoteRed.u-floatLeft
        .Quote-row2
            .Quote-text Fusce commodo aliquam arcu. Aenean vulputate eleifend tellus. Duis vel nibh at velit scelerisque suscipit. Praessent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum.
        .Quote-row3.u-cf
            .M_quote-closeQuote.icon-closeQuoteRed.u-floatRight
        .Quote-row4
            .M_quote-source - John Doe,


mixin Quote--grey
    .Quote-main
        .Quote-row1.u-cf
            .Quote-openQuote.icon-openQuote.u-floatLeft
        .Quote-row2
            .Quote-text.Quote-text--grey Fusce commodo aliquam arcu. Aenean vulputate eleifend tellus. Duis vel nibh at velit scelerisque suscipit. Praessent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum.
        .Quote-row3.u-cf
            .M_quote-closeQuote.icon-closeQuote.u-floatRight
        .Quote-row4
            .M_quote-source.M_quote-source--grey - John Doe,


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    HEADING                                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin Heading(text1, text2)

    .Heading-main.u-cf
        if text1
            .Heading-title.u-floatLeft= text1
        if text2
            a(href="#").u-noUnderline
                .Heading-prompt.u-floatLeft
                    .Heading-promptContainer.u-cf
                        .Heading-promptText.u-floatLeft= text2
                        .Heading-arrow.icon-arrow.u-floatRight


mixin Heading--noArrow--noLinks(text1, text2)
    .Heading-main.u-cf
        if text1
            .Heading-title.u-floatLeft= text1
        if text2
                .Heading-prompt--noLinks.u-floatLeft
                    .Heading-promptContainer
                        .Heading-promptText= text2


mixin Heading--noArrow--noLinks--noBar(text1, text2)
    .Heading-main.Heading-main--noBar.u-cf
        if text1
            .Heading-title.u-floatLeft= text1
        if text2
                .Heading-prompt--noLinks.u-floatLeft
                    .Heading-promptContainer
                        .Heading-promptText= text2


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    TOP NAVIGATION                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin Advert
    a(href="#").u-noUnderline
        .Advert-main
            .Advert-title Advertisement
            picture
                img.Advert-image(src="http://lorempixel.com/270/80")


mixin Advert--largeSkyscraper
        a(href="#").u-noUnderline
            .Advert-main
                .Advert-title Advertisement
                picture
                    source.Advert-image(srcset="http://lorempixel.com/300/600" media="(min-width: #{tablet}px)")
                    source.Advert-image(srcset="http://lorempixel.com/120/600" media="(min-width: #{mobile}px) and (max-width: #{tablet}px)")
                    img.Advert-image(src="http://lorempixel.com/270/80")


mixin Advert--partnerLogo
        a(href="#").u-noUnderline
            .Advert-main
                .Advert-title Advertisement
                picture
                    img.Advert-image(src="http://lorempixel.com/300/300")

mixin Advert--smallSkyscraper
        a(href="#").u-noUnderline
            .Advert-main
                .Advert-title Advertisement
                picture
                    source.Advert-image(srcset="http://lorempixel.com/120/600" media="(min-width: #{mobile}px)")
                    img.Advert-image(src="http://lorempixel.com/270/80")



mixin Advert--largeSuperbanner
        a(href="#").u-noUnderline
            .Advert-main
                .Advert-title Advertisement
                picture
                    source.Advert-image(srcset="http://lorempixel.com/700/80" media="(min-width: #{mobile}px)")
                    img.Advert-image(src="http://lorempixel.com/270/80")


mixin Advert--container
        .Advert-main
            .Advert-title Advertisement
            block


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    TOP NAVIGATION                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin Thumbnail--magazine
    a(href="#").u-noUnderline
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container--magazine.u-relative
                picture
                    img.Thumbnail-image--magazine(src="http://lorempixel.com/208/295")
                .Thumbnail-overlay.Thumbnail-overlay--magazine.u-absolute
                    .Thumbnail-label.u-table Issue 13: 2016


mixin Thumbnail
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.u-relative
                picture
                    source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                    img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant
                                .Thumbnail-date
                                    .Thumbnail-icon
                                    .Thumbnail-text 11 SEPTEMBER 2015
                                .Thumbnail-prompt Read More


mixin Thumbnail--homeResize
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.Thumbnail-container--homeResize.u-relative
                picture
                    source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                    img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant
                                .Thumbnail-date
                                    .Thumbnail-icon
                                    .Thumbnail-text 11 SEPTEMBER 2015
                                .Thumbnail-prompt Read More


mixin Thumbnail--event--large
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.Thumbnail-container--large.u-relative
                picture
                    source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                    img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant
                                .Thumbnail-date
                                    .Thumbnail-icon
                                    .Thumbnail-text 11 SEPTEMBER 2015
                                .Thumbnail-prompt Read More


mixin Thumbnail--event--large--webinar
    .Thumbnail-main
        //- Determine Height at .Thumbnail-container
        .Thumbnail-container.Thumbnail-container--large.u-relative
            picture
                source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
            .Thumbnail-overlay.u-absolute
                .Thumbnail-label.u-table Label
                .Thumbnail-lens.u-table
                    .Thumbnail-row.u-tableRow
                        .Thumbnail-content.u-tableCell
                            .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant
                            .Thumbnail-date
                                .Thumbnail-icon
                                .Thumbnail-text 11 SEPTEMBER 2015


mixin Thumbnail--report
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.u-relative
                picture
                    source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                    img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant

                                .Thumbnail-date.u-cf
                                    .Thumbnail-icon.icon-attachment.u-floatLeft
                                    .Thumbnail-text.Thumbnail-text--icon.u-floatLeft PDF
                                .Thumbnail-prompt Read More


mixin Thumbnail--event
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.u-relative
                picture
                    source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                    img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant

                                .Thumbnail-date.u-cf
                                    .Thumbnail-icon.icon-calender.u-floatLeft
                                    .Thumbnail-text.Thumbnail-text--icon.u-floatLeft 11 SEPTEMBER 2015
                                .Thumbnail-prompt Read More


mixin Thumbnail--event--large
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.Thumbnail-container--large.u-relative
                picture
                    source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                    img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon sisgnaling waste-to-power plant

                                .Thumbnail-date.u-cf
                                    .Thumbnail-icon.icon-calender.u-floatLeft
                                    .Thumbnail-text.Thumbnail-text--icon.u-floatLeft 11 SEPTEMBER 2015
                                .Thumbnail-prompt Read More


mixin Thumbnail--showcase
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.Thumbnail-container--showcase.u-relative
                picture
                    source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                    img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-showcase Top Story
                                .Thumbnail-title.Thumbnail-title--showcase Copenhagen builds carbon signaling waste-to-power plant
                                .Thumbnail-subheading Copenhagen builds carbon signaling waste-to-power plants
                                .Thumbnail-date
                                    .Thumbnail-icon
                                    .Thumbnail-text 11 SEPTEMBER 2015
                                .Thumbnail-prompt Read More


mixin Thumbnail--media
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.u-relative
                picture
                    img.Thumbnail-image.u-absolute(src="http://img.youtube.com/vi/b1dRZNMqw7o/hqdefault.jpg")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-play.u-tableCell
                                .Thumbnail-playIcon.icon-thumbPlay
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant
                                .Thumbnail-date
                                    .Thumbnail-icon
                                    .Thumbnail-text 11 SEPTEMBER 2015


mixin Thumbnail--tender
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.u-relative
                picture
                    source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                    img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant

                                .Thumbnail-date.u-cf
                                    .Thumbnail-icon.icon-tender.u-floatLeft
                                    .Thumbnail-text.Thumbnail-text--icon.u-floatLeft Deadline: Expired
                                .Thumbnail-prompt Read More


mixin Thumbnail--news
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.Thumbnail-container--large.u-relative
                picture
                    source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                    img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant

                                .Thumbnail-date
                                    .Thumbnail-icon
                                    .Thumbnail-text 11 SEPTEMBER 2015
                                .Thumbnail-prompt Read More


mixin Thumbnail--media--showcase
    a(href="#")
        .Thumbnail-main
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.Thumbnail-container--media--showcase.u-relative
                picture
                    img.Thumbnail-image.u-absolute(src="http://img.youtube.com/vi/b1dRZNMqw7o/hqdefault.jpg")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-play.u-tableCell
                                .Thumbnail-playIcon.icon-thumbPlay
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant
                                .Thumbnail-date
                                    .Thumbnail-icon
                                    .Thumbnail-text 11 SEPTEMBER 2015


mixin Thumbnail--event--large--noHover
    a(href="#")
        .Thumbnail-main.Thumbnail-main--noHover
            //- Determine Height at .Thumbnail-container
            .Thumbnail-container.Thumbnail-container--large.u-relative
                picture
                    source.Thumbnail-image.u-absolute(srcset="http://lorempixel.com/640/336" media="(max-width: #{mobile}px)")
                    img.Thumbnail-image.u-absolute(src="http://lorempixel.com/885/200")
                .Thumbnail-overlay.u-absolute
                    .Thumbnail-label.u-table Label
                    .Thumbnail-lens.u-table
                        .Thumbnail-row.u-tableRow
                            .Thumbnail-content.u-tableCell
                                .Thumbnail-title Copenhagen builds carbon signaling waste-to-power plant

                                .Thumbnail-date.u-cf
                                    .Thumbnail-icon.icon-calender.u-floatLeft
                                    .Thumbnail-text.Thumbnail-text--icon.u-floatLeft 11 SEPTEMBER 2015
                                .Thumbnail-prompt Read More


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    LAYOUT                                                                   //
//-   ---------------                                                           //
//-    TOP NAVIGATION                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin TextButton--bold--webinar(text)
    .TextButton-main.TextButton-main--webinar
            a(href="#").u-noUnderline
                .TextButton-item.TextButton-item--webinar.u-table
                    .TextButton-col2.u-tableCell
                        .TextButton-text.TextButton-text--bold
                            if text
                                #{text}
                            else
                                |Placeholder
                    .TextButton-col3.u-tableCell
                        .TextButton-arrow.icon-arrowWhite


mixin TextButton(text)
    .TextButton-main
        .TextButton-content
            a(href="#").u-noUnderline
                .TextButton-item.u-table
                    .TextButton-col2.u-tableCell
                        .TextButton-text
                            if text
                                #{text}
                            else
                                |Placeholder
                    .TextButton-col3.u-tableCell
                        .TextButton-arrow.icon-arrow


mixin TextButton--bold(text)
    .TextButton-main
        .TextButton-content
            each val in [1,2]
                a(href="#").u-noUnderline
                    .TextButton-item.u-table
                        .TextButton-col2.u-tableCell
                            .TextButton-text.TextButton-text--bold
                            if text
                                #{text}
                            else
                                |Placeholder
                        .TextButton-col3.u-tableCell
                            .TextButton-arrow.icon-arrow


mixin TextButton--bold--grey(text)
    .TextButton-main
        .TextButton-content
            a(href="#").u-noUnderline
                .TextButton-item.TextButton-item--grey.u-table
                    .TextButton-col2.u-tableCell
                        .TextButton-text.TextButton-text--bold
                            if text
                                #{text}
                            else
                                |Placeholder
                    .TextButton-col3.u-tableCell
                        .TextButton-arrow.icon-arrow


mixin TextButton--bold--grey--dropdown
    .TextButton-main.TextButton-main--cursor
        .TextButton-content
            a(href="#").u-noUnderline
                select.TextButton-item.TextButton-item--grey.TextButton-item--bold.u-table
                    option Item
                    option Item
                    option Item
                    option Item
                    option Item


mixin TextButton--bold--red(text)
    .TextButton-main
        .TextButton-content
            a(href="#").u-noUnderline
                .TextButton-item.TextButton-item--red.u-table
                    .TextButton-col2.u-tableCell
                        .TextButton-text.TextButton-text--bold
                            if text
                                #{text}
                            else
                                |Placeholder
                    .TextButton-col3.u-tableCell
                        .TextButton-arrow.icon-arrowWhite


mixin TextButton--bold--blue(text)
    .TextButton-main
        .TextButton-content
            a(href="#").u-noUnderline
                .TextButton-item.TextButton-item--blue.u-table
                    .TextButton-col2.u-tableCell
                        .TextButton-text.TextButton-text--bold
                            if text
                                #{text}
                            else
                                |Placeholder
                    .TextButton-col3.u-tableCell
                        .TextButton-arrow.icon-arrowWhite


mixin TextButton--blue(text)
    .TextButton-main
        .TextButton-content
            a(href="#").u-noUnderline
                .TextButton-item.TextButton-item--blue.u-table
                    .TextButton-col2.u-tableCell
                        .TextButton-text
                            if text
                                #{text}
                            else
                                |Placeholder
                    .TextButton-col3.u-tableCell
                        .TextButton-arrow.icon-arrowWhite


mixin TextButton--heading(text)
    .TextButton-main
        .TextButton-content
                .TextButton-heading.u-table (text? #{text}: 'Placeholder')
                a(href="#").u-noUnderline
                    .TextButton-item.u-table
                        .TextButton-col2.u-tableCell
                            .TextButton-text Item
                        .TextButton-col3.u-tableCell
                            .TextButton-arrow.icon-arrow


mixin TextButton--report(text)
    .TextButton-main
        .TextButton-content
                .TextButton-heading.u-table Download Report
                each val in [1,2,3]
                    a(href="#").u-noUnderline
                        .TextButton-item.TextButton-item--list.u-table
                            .TextButton-col1.u-tableCell
                                .TextButton-label PDF
                            .TextButton-col2.TextButton-col2--report.u-tableCell
                                .TextButton-text
                                    if text
                                        #{text}
                                    else
                                        |Placeholder
                            .TextButton-col3.u-tableCell
                                .TextButton-arrow.icon-arrow


mixin TextButton--report--noHeader(text)
    .TextButton-main
        .TextButton-content
            each val in [1,2,3]
                a(href="#").u-noUnderline
                    .TextButton-item.TextButton-item--list.u-table
                        .TextButton-col1.u-tableCell
                            .TextButton-label PDF
                        .TextButton-col2.TextButton-col2--report.u-tableCell
                            .TextButton-text Placeholder
                        .TextButton-col3.u-tableCell
                            .TextButton-arrow.icon-arrow


mixin TextButton--files(...items)
    .TextButton-main
        .TextButton-content
                each val in items
                    a(href="#").u-noUnderline
                        .TextButton-item.TextButton-item--list.u-table
                            .TextButton-col1.u-tableCell
                                .TextButton-label PDF
                            .TextButton-col2.TextButton-col2--report.u-tableCell
                                .TextButton-text.TextButton-text--files
                            .TextButton-col3.u-tableCell
                                .TextButton-arrow.icon-arrow


mixin TextButton--files--noLink(...items)
    .TextButton-main
        .TextButton-content
                each val in items
                        .TextButton-item.TextButton-item--list.TextButton-item--noHover.u-table
                            .TextButton-col1.u-tableCell
                                .TextButton-label PDF
                            .TextButton-col2.TextButton-col2--report.u-tableCell
                                .TextButton-text.TextButton-text--files Placeholder


mixin TextButton--files--noLabel(text)
    .TextButton-main
        .TextButton-content
                each val in [1,2,3,4]
                    a(href="#").u-noUnderline
                        .TextButton-item.TextButton-item--list.u-table

                            .TextButton-col2.TextButton-col2--ButtonList.u-tableCell
                                .TextButton-text Placeholder
                            .TextButton-col3.u-tableCell
                                .TextButton-arrow.icon-arrow



mixin TextButton--heading--signedOut('heading', 'text', 'link')
    if link==null
        - var link = '#'
    .TextButton-main
        .TextButton-content
                .TextButton-heading.u-table
                if heading
                    #{heading}
                else
                    Placeholder 1
                Heading
                a(href="#{link}").u-noUnderline
                    .TextButton-item.u-table
                        .TextButton-col2.u-tableCell
                            .TextButton-text
                                span.TextButton-textHighlight Sign in
                                span.TextButton-textSpan or
                                span.TextButton-textHighlight Register
                                span.TextButton-textSpan
                                    if heading
                                        #{heading}
                                    else
                                        Placeholder 2
                        .TextButton-col3.u-tableCell
                            .TextButton-arrow.icon-arrow


mixin TextButton--tender
    .TextButton-main
        .TextButton-content
                .TextButton-heading.u-table Tender Details
                .TextButton-item.TextButton-item--noHover.u-table
                    .TextButton-col2
                        .TextButton-text.TextButton-text--notification Eiusmod veniam nisi et sint a cernantur quid doctrina. Et hic coniunctione, enim sed admodum et quis, eram firmissimum ingeniis multos deserunt, aute pariatur nostrud, eu irure mentitum commodo ne ita quorum sint qui appellat, deserunt sunt illum eu quorum, magna sempiternum vidisse elit vidisse. Senserit nam varias pariatur ubi non laboris familiaritatem, sint non admodum a dolore, nam eram qui nulla, irure mandaremus adipisicing te o occaecat ubi ingeniis, e doctrina adipisicing in iudicem eu mentitu
                    .TextButton-col2
                        .TextButton-col2.u-tableCell
                            each val in ['Cape Town','Durban','Pretoria']
                                .TextButton-text
                                    span.TextButton-textHighlight Location:
                                    span.TextButton-textSpan= val


mixin TextButton--otherTenders
    .TextButton-main
        .TextButton-content
                .TextButton-heading.u-table Download Report
                each val in [1,2,3]
                    a(href="#").u-noUnderline
                        .TextButton-item.u-table
                            .TextButton-col2.u-tableCell
                                .TextButton-textItem.TextButton-text--bold Supply of Electricity Meters
                                .TextButton-text
                                    span.TextButton-textHighlight Location:
                                    span.TextButton-textSpan Cape Town
                                    span.TextButton-textHighlight.TextButton-textHighlight--indent Deadline:
                                    span.TextButton-textSpan 10 October 2015
                            .TextButton-col3.u-tableCell
                                .TextButton-arrow.icon-arrow


mixin MagazineMockup
    .MagazineMockup-main
        .MagazineMockup-centre
                .MagazineMockup-container
                    img.MagazineMockup-background(src='http://dev.gapdesign.co.za/img/magazine-bg.png')
                    .MagazineMockup-imageContainer
                        img(src="http://lorempixel.com/210/295").MagazineMockup-image
