  
      



/////////////////////////////////////////////////////////////////////////////////
//                                                                             //
//                                                                             //
//                                                                             //
//                                 JSON IMPORT                                 //
//                                                                             //
//                                                                             //
//                                                                             //
/////////////////////////////////////////////////////////////////////////////////


// JSON HEADER


- var head = {"static":{"topNav":[{"text":"About us","link":"*insert"},{"text":"Advertise","link":"*insert"},{"text":"Contact Us","link":"*insert"},{"text":"Register","link":"*insert"}],"mainNav":[{"text":"News","arrow":false,"link":"*insert","active":false},{"text":"Features","arrow":false,"link":"*insert","active":false},{"text":"Magazine","arrow":true,"link":"*insert","active":false},{"text":"Reports","arrow":false,"link":"*insert","active":false},{"text":"Tenders","arrow":false,"link":"*insert","active":false},{"text":"Multimedia","arrow":false,"link":"*insert","active":true},{"text":"Partners","arrow":false,"link":"*insert","active":false},{"text":"News","arrow":false,"link":"*insert","active":false}],"secondaryNav":[{"text":"Video","link":"*insert","active":false},{"text":"Audio","link":"*insert","active":false},{"text":"Webinar Archive","link":"*insert","active":false}]},"dynamic":{"page":{"signin":true,"account":"John Smith"},"adverts":{"leaderboard":{"desktop":"Community_968x100.jpg","tablet":"Community_680x100.jpg","color":"#017795"},"superbanner":"*insert"}}}


// JSON CONTENT


- var content = {"static":{"introduction":{"title":"Multimedia","paragraph":"*required","buttons":[{"title":"Filter by Type","options":["Video","Audio","Webinar Archive"],"dropdown":true}]},"headings":[{"title":"Featured Media"},{"title":"Browse Media"}]},"dynamic":{"thumbnails":[{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media","description":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla."},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media","description":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla."},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media","description":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla."},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"},{"title":"Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Cras ultricies mi eu turpis hendrerit fringilla.","image":"http://s.hswstatic.com/gif/landscape-photography-1.jpg","type":"media"}],"pagination":{"next":true,"previous":false,"direct":["1","2","3"]},"page":{"showcase":true}}}


// JSON FOOTER


/////////////////////////////////////////////////////////////////////////////////
//                                                                             //
//                                                                             //
//                                                                             //
//                                   SCRIPTS                                   //
//                                                                             //
//                                                                             //
//                                                                             //
/////////////////////////////////////////////////////////////////////////////////


link(rel="stylesheet" type="text/css" href="header.css")

/////////////////////////////////////////////////////////////////////////////////
//                                                                             //
//                                  M     M                                    //
//                                  MM   MM                                    //
//                                  M M M M                                    //
//                                  M  M  M                                    //
//                                  M     M                                    //
//                                                                             //
/////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////////////////
// MOLECULE: COMNTENT THUMB


mixin M__contentThumb()
    .M__contentThumb-main.u-relative(style="background: lightgrey;")
       
        picture
          
          source(data-srcset="https://verenaheinrich.files.wordpress.com/2012/07/july1.jpg", media="(max-width: 500px)")
          source(data-srcset="https://verenaheinrich.files.wordpress.com/2012/07/july1.jpg", media="(max-width: 1024px)")
          source(data-srcset="https://verenaheinrich.files.wordpress.com/2012/07/july1.jpg")
          
          img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="https://verenaheinrich.files.wordpress.com/2012/07/july1.jpg", alt="image with artdirection")


    
        
        
        
        

        
        
        
        .M__contentThumb-container.u-absolute
            .M__contentThumb-label.u-table Label
            .M__contentThumb-overlay.u-table
                .M__contentThumb-row.u-tableRow
                    //.M__contentThumb-mediaPlay.u-tableCell
                        .sprite.sprite-play
                    .M__contentThumb-content.u-tableCell
                        .M__contentThumb-showcase Top Story
                        .M__contentThumb-title Copenhagen builds carbon signaling waste-to-power plant
                        .M__contentThumb-subheading Copenhagen builds carbon signaling waste-to-power plant
                        .M__contentThumb-date 11 SEPTEMBER 2015



////////////////////////////////////////////////////////////////////////////////////////////
// MOLECULE: LEADERBOARD ADVERT


mixin M__leaderboardAdvert
    picture
        img.M__leaderboardAdvert-image(src="#{head.dynamic.adverts.leaderboard.desktop}")

 ////////////////////////////////////////////////////////////////////////////////////////////
// MOLECULE: TOP NAV BUTTON


mixin M__topNavButton
    | ::

////////////////////////////////////////////////////////////////////////////////////////////
// MOLECULE: FILTER BUTTON


mixin M__filterButton(title, dropdown, ...options )
    if(dropdown == true)
        select.M__contentButton-main.M__contentButton-main--filter

            each val, index in options
                if(val!=null)
                    if(index==0)
                        option(disabled selected)= title
                    if(index>0)
                        option= val
    if(dropdown == false)
        a.u-noUnderline(href="#")
            .M__contentButton-main.M__contentButton-main--filter= title


////////////////////////////////////////////////////////////////////////////////////////////
// MOLECULE: INTRO PARAGRAPH


mixin M__introParagraph(text1)
    .M__introParagraph-main= text1


////////////////////////////////////////////////////////////////////////////////////////////
// MOLECULE: HEADING


mixin M__heading(text1, text2, link)
    .M__heading-main.u-cf
        if text1
            .M__heading-title.u-floatLeft= text1

////////////////////////////////////////////////////////////////////////////////////////////
// MOLECULE: PAGANIATION BUTTON


mixin M__paginationButton(text)
    a.u-noUnderline(href="#")
        .M__contentButton-main.M__contentButton-main--pagination= text


/////////////////////////////////////////////////////////////////////////////////
//                                                                             //
//                                   OOOOOOO                                   //
//                                   O     O                                   //
//                                   O     O                                   //
//                                   O     O                                   //
//                                   OOOOOOO                                   //
//                                                                             //
/////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////////////////
// ORGANISM: FILTER BUTTONS


mixin O__filterButtons
    .O__filterButtons-main
        each val in content.static.introduction.buttons
            .O__filterButtons-item
                +M__filterButton(val.title, val.dropdown, val.title, val.options[0], val.options[1], val.options[2], val.options[3], val.options[4], val.options[5], val.options[6], val.options[7], val.options[8])


////////////////////////////////////////////////////////////////////////////////////////////
// ORGANISM: CATEGORY LIST


mixin O__categoryList
    .O__categoryList-main.u-cf
        each val, index in content.dynamic.thumbnails
            if(index==3)
                O__categoryList-heading.u-floatLeft
                    +M__heading(content.static.headings[1].title)
            .O__categoryList-item.u-floatLeft
                .O__categoryList-position
                    +M__contentThumb


////////////////////////////////////////////////////////////////////////////////////////////
// ORGANISM: SOCIAL HEAD LIST


mixin O__social
    .O__social-main.u-cf
        each val in head.static.secondaryNav
            .O__social-item.u-floatLeft
                |M__social--head-item

////////////////////////////////////////////////////////////////////////////////////////////
// ORGANISM: SECONDARY NAV LIST

mixin O__secondaryNavList
    .O__secondaryNavList-main.u-cf
        each val in head.static.secondaryNav
            .O__secondaryNavList-item.u-floatLeft
                |M__secondaryNavButton

////////////////////////////////////////////////////////////////////////////////////////////
// ORGANISM: MAIN NAV LIST


mixin O__mainNavList
    .O__mainNavList-main.u-cf
        each val in head.static.mainNav
            .O__mainNavList-item.u-floatLeft
                |M__mainNavButton

////////////////////////////////////////////////////////////////////////////////////////////
// ORGANISM: TOP NAV LIST

mixin O__topNav
    .O__topNav-main.u-cf
        each val in head.static.topNav
            .O__topNav-item.u-floatLeft
                |M__topNavButton

////////////////////////////////////////////////////////////////////////////////////////////
// ORGANISM: TOP NAV LIST

mixin O__topNav
    .O__topNav-main.u-cf
        each val in head.static.topNav
            .O__topNav-item.u-floatLeft
                |M__topNavButton


////////////////////////////////////////////////////////////////////////////////////////////
// ORGANISM: PAGINATION NUMBERS LIST



mixin O__paginationNumbers
    .O__paginationNumbers-main.u-cf
        each val, index in content.dynamic.pagination.direct
            .O__paginationNumbers-item.u-floatLeft(class=(index===0 ? 'u-noMargin': null))
                +M__paginationButton(val)


/////////////////////////////////////////////////////////////////////////////////
//-----------------------------------------------------------------------------//
//-----------------------------------------------------------------------------//
//-----------------------------------------------------------------------------//
//---------------------------------- LAYOUT -----------------------------------//
//-----------------------------------------------------------------------------//
//-----------------------------------------------------------------------------//
//-----------------------------------------------------------------------------//
/////////////////////////////////////////////////////////////////////////////////


#__head-main


    //0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
    // HEADER


    ///// HEAD: LEADBOARD
    #__leaderboard-main(style="background: #{head.dynamic.adverts.leaderboard.color}")
        #__leaderboard-centre
            +M__leaderboardAdvert



    ///// HEAD: TOP NAV
    #__topNav-main
        #__topNav-centre.u-cf
            #__topNav-col1.u-floatLeft.u-cf
                #__topNav-col1-col1.u-floatLeft
                    +O__topNav
                #__topNav-col1-col2.u-floatLeft
                    |+M__Login
            #__topNav-col2.u-floatRight
                +O__social('Head')

    ///// HEAD: MENU CONTENT
    #__menuContent-main
        #__menuContent-centre.u-cf
            #__menuContent-col1.u-floatLeft
                |M__logo
            #__menuContent-col2.u-floatRight
                |M__smallSuperbannerAdvert

     ///// HEAD: MAIN NAV
    #__mainNav-main
        #__mainNav-centre.u-cf
            #__mainNav-col1.u-floatLeft
                +O__mainNavList
            #__mainNav-col1.u-floatRight
                |+M__mainNavsearch


    ///// HEAD: SECONDARY NAV
    #__secondaryNav-main
        #__secondaryNav-centre
            +O__secondaryNavList


//0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
    // MAIN

#__content-main

    #__intro-main
        #__intro-centre
            #__intro-row1
                +M__heading(content.static.introduction.title)
            #__intro-row2.u-cf
                #__intro-row2-col1.u-floatLeft
                    +M__introParagraph(content.static.introduction.paragraph)
                #__intro-row2-col2.u-floatRight
                    +O__filterButtons


    //// LAYOUT:LIST
    #__categoryList-main
        #__categoryList-centre
            #__categoryList-row1
                +M__heading(content.static.headings[0].title)
            #__categoryList-row2
                +O__categoryList


    ///// LAYOUT: PAGINATION
    #__pagination-main
        #__pagination-centre.u-table
            #__pageination-row1.u-cf
                if(content.dynamic.pagination.previous)
                    #__pageination-row1-col1.u-floatLeft
                        +M__paginationButton('Previous')
                if(content.dynamic.pagination.next)
                    #__pageination-row1-col2.u-floatRight
                        +M__paginationButton('Next')
            #__pageination-row2.u-table
                +O__paginationNumbers



script (src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script (src="https://cdn.rawgit.com/aFarkas/lazysizes/gh-pages/lazysizes.min.js")
