mixin M__pullQuote(Quote)
    .M__pullQuote-main.u-floatRight
            .M__pullQuote-quote.u-cf
                .M__pullQuote-text "#{Quote}"
                .M__pullQuote-icon.sprite.sprite-twitter-quote-01.u-floatLeft
                .M__pullQuote-retweet.u-floatLeft Retweet this Quote


//-////////////////^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ NEW




|<!doctype html>
|<html>
|<head>
link(rel="stylesheet" type="text/css" href="css/stylesheet.css")
|<meta charset="utf-8">
|</head>
|<body>

/////////////////////////////////////////////////////////////////////////////////
//                                                                             //
//                                                                             //
//                                                                             //
//                                   IMPORTS                                   //
//                                                                             //
//                                                                             //
//                                                                             //
/////////////////////////////////////////////////////////////////////////////////


//- JSON CONTENT
- var head = {"static":{"topNav":[{"text":"About us","link":"*insert"},{"text":"Advertise","link":"*insert"},{"text":"Contact Us","link":"*insert"},{"text":"Register","link":"*insert"}],"mainNav":[{"text":"News","arrow":false,"link":"*insert","active":false},{"text":"Features","arrow":false,"link":"*insert","active":false},{"text":"Magazine","arrow":true,"link":"*insert","active":false},{"text":"Reports","arrow":false,"link":"*insert","active":false},{"text":"Tenders","arrow":false,"link":"*insert","active":false},{"text":"Multimedia","arrow":false,"link":"*insert","active":true},{"text":"Partners","arrow":false,"link":"*insert","active":false},{"text":"News","arrow":false,"link":"*insert","active":false}],"secondaryNav":[{"text":"Video","link":"*insert","active":false},{"text":"Audio","link":"*insert","active":false},{"text":"Webinar Archive","link":"*insert","active":false}]},"dynamic":{"page":{"signin":true,"account":"John Smith"},"adverts":{"leaderboard":{"desktop":"Community_968x100.jpg","tablet":"Community_680x100.jpg","color":"#017795"},"superbanner":"*insert"}}}

//- JSON CONTENT
- var content = {"static":{"pageContent":{"heading":{"title":"News Story","prompt":"Leave a Comment","link":true}},"comments":{"display":true,"heading":{"title":"Join the Discussion","prompt":"","link":false}},"socialShare":[{"icon":"facebook-share-01","prompt":"Share"},{"icon":"Twitter-share-01","prompt":"Share"},{"icon":"Linkedin-share-01","prompt":"Share"},{"icon":"Google-share-01","prompt":"Share"},{"icon":"Email-share-01","prompt":"Share"},{"icon":"Comment-share-01","prompt":"Share"}],"submitButtons":["Use Submit News Form","Send us an Email"]},"dynamic":{"socialShare":{"**Awaiting":""},"pullQuote":{"text":"Nullam sagittis. Maecenas malesuada. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Nulla facilisi..\r\n\r\nPellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque rutrum. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. Suspendisse eu ligula. Vestibulum dapibus nunc ac augue.","source":"Donec interdum metus et hendrerit"},"pageContent":{"title":"Aenean ut eros et nisl","subHeading":"Vestibulum fringilla pede sit amet augue. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Fusce egestas elit eget lorem. Phasellus blandit leo ut odio. Nunc interdum lacus sit amet orci.\r\n\r\nFusce fermentum odio nec arcu. Proin magna. Aenean ut eros et nisl sagittis vestibulum. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Cras sagittis.","wordpressContent":"placeholder","featuredImage":""},"relatedContent":[{"label":"Industry Insights","title":"SGIP Collaboration","date":"11 September 2015","image":"*insert","link":"http://www.google.com"},{"label":"Industry Insights","title":"SGIP Collaboration","date":"11 September 2015","image":"*insert","link":"http://www.google.com"},{"label":"Industry Insights","title":"SGIP Collaboration","date":"11 September 2015","image":"*insert","link":"http://www.google.com"},{"label":"Industry Insights","title":"SGIP Collaboration","date":"11 September 2015","image":"*insert","link":"http://www.google.com"}]}}


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                     A                                       //
//-                                    A A                                      //
//-                                   A   A                                     //
//-                                  AAAAAAA                                    //
//-                                 A       A                                   //
//-                                A         A                                  //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ATOM                                                                     //
//-   ---------------                                                           //
//-    SMALL TITLE                                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin A__smallTitle(modifier, text)
    if(modifier=='--socialShare')
        .A__smallTitle-main.A__smallTitle-main--socialShare= text
    else
        .A__smallTitle-main= text


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                  M     M                                    //
//-                                  MM   MM                                    //
//-                                  M M M M                                    //
//-                                  M  M  M                                    //
//-                                  M     M                                    //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    CONTENT THUMB                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__contentThumb()
    .M__contentThumb-main.u-relative(style="background: lightgrey;")

        picture
            img.M__contentThumb-image(src="http://lorempixel.com/400/200")
        .M__contentThumb-container.u-absolute
            .M__contentThumb-label.u-table Label
            .M__contentThumb-overlay.u-table
                .M__contentThumb-row.u-tableRow
                    //-.M__contentThumb-mediaPlay.u-tableCell
                        .sprite.sprite-play
                    .M__contentThumb-content.u-tableCell
                        .M__contentThumb-showcase Top Story
                        .M__contentThumb-title Copenhagen builds carbon signaling waste-to-power plant
                        .M__contentThumb-subheading Copenhagen builds carbon signaling waste-to-power plant
                        .M__contentThumb-date 11 SEPTEMBER 2015


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    LEADER BOARD ADVERT                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__leaderboardAdvert
    picture
        img.M__leaderboardAdvert-image(src="#{head.dynamic.adverts.leaderboard.desktop}")


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    TOP NAV BUTTON                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__topNavButton
    | ::


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    FILTER BUTTON                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__filterButton(title, dropdown, ...options )
    if(dropdown == true)
        select.M__contentButton-main.M__contentButton-main--filter

            each val, index in options
                if(val!=null)
                    if(index==0)
                        option(disabled selected)= title
                    if(index>0)
                        option= val
    if(dropdown == false)
        a.u-noUnderline(href="#")
            .M__contentButton-main.M__contentButton-main--filter= title


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    INTRO PARAGRAPH DIV                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__introParagraph(text1)
    .M__introParagraph-main= text1


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    HEADING                                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__heading(text1, text2, link)
    .M__heading-main.u-cf
        if text1
            .M__heading-title.u-floatLeft= text1
        if text2
            a(href="#")
                .M__heading-prompt.u-floatLeft.u-cf
                    .M__heading-promptText.u-floatLeft= text2
                    if link
                        .M__heading-arrow.sprite.sprite-arrow-grey.u-floatRight


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    PAGINATION BUTTON                                                        //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__paginationButton(text)
    a.u-noUnderline(href="#")
        .M__contentButton-main.M__contentButton-main--pagination= text


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    FEATURED IMAGE                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

mixin M__featuredImage(url, label)
    .M__featuredImage-main.u-relative
        .M__featuredImage-container
            picture
                img.M__featuredImage-image(src="#{url}")
        .M__featuredImage-label.u-absolute= label


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    LARGE SKYSCRAPER BANNER                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////

mixin M__largeSkyscraperAdvert
    a(href="#").u-noUnderline
        .M__largeSkyscraperAdvert-main
            .M__largeSkyscraperAdvert-container
                .M__largeSkyscraperAdvert-title Advertisement
                picture
                    img.M__largeSkyscraperAdvert-image(src="http://lorempixel.com/300/600")


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    SOCIAL SHARE BUTTON                                                      //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__socialShareButton(icon, text)
    a(href="#")
        .M__socialShareButton-main.u-cf
            .M__socialShareButton-icon.u-floatLeft
                picture
                    .M__socialShareList-icon.sprite(class="sprite-#{icon}")
            .M__socialShareButton-text.u-floatLeft= text


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    TEXT PROMPT                                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__textPrompt(text)
    a(href="#")
        .M_textPrompt-main.u-cf
            .M_textPrompt-text.u-floatLeft= text
            .M_textPrompt-arrow.sprite.sprite-arrow-grey.u-floatRight


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    MOLECULE                                                                 //
//-   ---------------                                                           //
//-    TEXT PROMPT                                                              //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__textPrompt(text)
    a(href="#")
        .M_textPrompt-main.u-cf
            .M_textPrompt-text.u-floatLeft= text
            .M_textPrompt-arrow.sprite.sprite-arrow-grey.u-floatRight


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                   OOOOOOO                                   //
//-                                   O     O                                   //
//-                                   O     O                                   //
//-                                   O     O                                   //
//-                                   OOOOOOO                                   //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    FILTER BUTTONS                                                           //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__filterButtons
    .O__filterButtons-main
        each val in content.static.introduction.buttons
            .O__filterButtons-item
                +M__filterButton(val.title, val.dropdown, val.title, val.options[0], val.options[1], val.options[2], val.options[3], val.options[4], val.options[5], val.options[6], val.options[7], val.options[8])


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    CATEGORY LIST                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__categoryList
    .O__categoryList-main.u-cf
        each val, index in content.dynamic.thumbnails
            if(index==3)
                O__categoryList-heading.u-floatLeft
                    +M__heading(content.static.headings[1].title)
            .O__categoryList-item.u-floatLeft
                .O__categoryList-position
                    +M__contentThumb


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    RELATED CONTENT LIST                                                     //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__relatedContentList
    .O__relatedContentList-main
        each val, index in content.dynamic.relatedContent
            .O__relatedContentList-item
                +M__contentThumb


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    SOCIAL ICONS LIST                                                        //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__social
    .O__social-main.u-cf
        each val in head.static.secondaryNav
            .O__social-item.u-floatLeft
                |M__social--head-item


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    SECONDARY NAV LIST                                                       //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__secondaryNavList
    .O__secondaryNavList-main.u-cf
        each val in head.static.secondaryNav
            .O__secondaryNavList-item.u-floatLeft
                |M__secondaryNavButton


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    MAIN NAV LIST                                                            //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__mainNavList
    .O__mainNavList-main.u-cf
        each val in head.static.mainNav
            .O__mainNavList-item.u-floatLeft
                |M__mainNavButton


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    TOP NAV LIST                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__topNav
    .O__topNav-main.u-cf
        each val in head.static.topNav
            .O__topNav-item.u-floatLeft
                |M__topNavButton


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    PAGINATION NUMBERS LIST                                                  //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////



mixin O__paginationNumbers
    .O__paginationNumbers-main.u-cf
        each val, index in content.dynamic.pagination.direct
            .O__paginationNumbers-item.u-floatLeft(class=(index===0 ? 'u-noMargin': null))
                +M__paginationButton(val)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    SOCIAL SHARE LIST                                                        //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin O__socialShareList
    .O__socialShareList-main
        each val in content.static.socialShare
            +M__socialShareButton(val.icon, val.prompt)


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-    ORGANISMS                                                                //
//-   ---------------                                                           //
//-    TEXT PROMPT LIST                                                         //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


mixin M__textPromptList
        .M_textPromptList-main
            each val in content.static.submitButtons
                .M_textPromptList-item
                    +M__textPrompt(val)



//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                     #  #                                    //
//-                                   ########                                  //
//-                                     #  #                                    //
//-                                   ########                                  //
//-                                     #  #                                    //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-                                                                             //
//-///////////////////////////////////////////////////////////////////////////////


// Head & Menu
#__head-main
    //-/// HEAD: LEADBOARD
    #__leaderboard-main(style="background: #{head.dynamic.adverts.leaderboard.color}")
        #__leaderboard-centre
            +M__leaderboardAdvert
    //-/// HEAD: TOP NAV
    #__topNav-main
        #__topNav-centre.u-cf
            #__topNav-col1.u-floatLeft.u-cf
                #__topNav-col1-col1.u-floatLeft
                    +O__topNav
                #__topNav-col1-col2.u-floatLeft
                    |+M__Login
            #__topNav-col2.u-floatRight
                +O__social('Head')
    //-/// HEAD: MENU CONTENT
    #__menuContent-main
        #__menuContent-centre.u-cf
            #__menuContent-col1.u-floatLeft
                |M__logo
            #__menuContent-col2.u-floatRight
                |M__smallSuperbannerAdvert
     //-/// HEAD: MAIN NAV
    #__mainNav-main
        #__mainNav-centre.u-cf
            #__mainNav-col1.u-floatLeft
                +O__mainNavList
            #__mainNav-col1.u-floatRight
                |+M__mainNavsearch
    //-/// HEAD: SECONDARY NAV
    #__secondaryNav-main
        #__secondaryNav-centre
            +O__secondaryNavList


// Content
#__content-main


    //-///////////////////////////////////////////////////////////////////////////////
    //-                                                                             //
    //-                                                                             //
    //-    LAYOUT                                                                   //
    //-   ---------------                                                           //
    //-    ARTICLE HEADER SECTION                                                   //
    //-                                                                             //
    //-                                                                             //
    //-///////////////////////////////////////////////////////////////////////////////


    #__articleHeader-main
        #__articleHeader-centre.u-cf
            #__articleHeader-col1.u-floatLeft
                #__articleHeader-col1-row1
                    +M__heading('News Story', 'Leave a Comment', true)
                #__articleHeader-col1-row2
                    //Image Size - Hard Crop Featured Image: 860 x 685
                    +M__featuredImage('http://lorempixel.com/860/430', 'Label')
            #__articleHeader-col2.u-floatRight
                +M__largeSkyscraperAdvert


    //-///////////////////////////////////////////////////////////////////////////////
    //-                                                                             //
    //-                                                                             //
    //-    LAYOUT                                                                   //
    //-   ---------------                                                           //
    //-    ARTICLE CONTENT SECTION                                                   //
    //-                                                                             //
    //-                                                                             //
    //-///////////////////////////////////////////////////////////////////////////////


    #__articleContent-main
        #__articleContent-centre.u-cf
            #__articleContent-col1.u-floatLeft
                #__articleContent-col1-row1
                    +A__smallTitle('--socialShare','Share Article')
                #__articleContent-col1-row2
                    +O__socialShareList
            #__articleContent-col2.u-floatLeft
                #__articleContent-col2-row1
                    +A__smallTitle(null, '17 SEPTEMBER 2015')
                #__articleContent-col2-row2
                    h1 Post Title
                #__articleContent-col2-row3
                    h2 Post Sub-heading
                #__articleContent-col2-row3
                    p Fusce vel dui. Phasellus consectetuer vestibulum elit. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                    .M__shortcodeBox-main asdasd

                    +M__pullQuote('The report expects the IIoT industry to grow at a CAGR of 26.56% over the next 4 years.')
                    p Fusce vel dui. Phasellus consectetuer vestibulum elit. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.




    //-///////////////////////////////////////////////////////////////////////////////
    //-                                                                             //
    //-                                                                             //
    //-    LAYOUT                                                                   //
    //-   ---------------                                                           //
    //-    ARTICLE FOOTER SECTION                                                   //
    //-                                                                             //
    //-                                                                             //
    //-///////////////////////////////////////////////////////////////////////////////


    #__articleFooter-main
        #__articleFooter-centre.u-cf
            #__articleFooter-col1.u-floatLeft
                #__articleFooter-col1-row1
                    +M__heading('Join the Discussion')
                #__articleFooter-col1-row2
                    |HTML_comments
                #__articleFooter-col1-row3
                    +M__heading('Submit News Story')
                #__articleFooter-col1-row4
                    +M__textPromptList
            #__articleFooter-col2.u-floatRight
                #__articleFooter-col2-row1
                    +M__heading('Related Content')
                #__articleFooter-col2-row2
                    +O__relatedContentList


/////////////////////////////////////////////////////////////////////////////////
//                                                                             //
//                                                                             //
//                                                                             //
//                                     END                                     //
//                                                                             //
//                                                                             //
//                                                                             //
/////////////////////////////////////////////////////////////////////////////////


|</body>
|</html>
