include ../_global/includes/layout.jade
include ../_global/includes/head/head.jade


//-///////////////////////////////////////////////////////////////////////////////
//-                                                                             //
//-                                     k           s             s                //
//-    LAYOUT                               d                s                    //
//-   ---------------             s    s        f f s s  ff   f     a           s          //
//-    MAGAZINE                             k  x             s                     //
//-                                h               S     s  fs      s                 //
//-                                                                             //
//-/////////////////////////////s//////////////////////////////////////////////////





#StaticWrapper-main
    #StaticWrapper-centre

        if article.blockHeader
            #StaticWrapper-header
                +Heading(article.blockHeader)
        if article.introBlock
            #StaticWrapper-introBlock= article.introBlock

        if (article.team!=null)
            div
                if article.blockHeader4
                    #StaticWrapper-header
                        +Heading(article.blockHeader4)
                #TeamAdvisory-container
                    +Team

        if (article.teamAdvisory!=null)
            #TeamAdvisory-main
                if article.blockHeader4
                    #StaticWrapper-header
                        +Heading(article.blockHeader4)
                #TeamAdvisory-container
                    +Team--advisory

        if(!article.hide)
            #StaticWrapper-content
                if article.heading1
                    h1= article.heading1
                if article.subheading1
                    h2= article.subheading1
                if article.includes.about!=null
                    include includes/about.jade
                if article.includes.advertise!=null
                    include includes/advertise.jade
                if article.includes.privacy!=null
                    include includes/privacy.jade
                if article.includes.terms!=null
                    include includes/termsOfUse.jade

        if article.list
            #StaticWrapper-list
                if article.listHeader
                    .StaticList-row1
                        +Heading(article.listHeader)
                if article.listIntro
                    .StaticList-row2
                        p.StaticList-p= article.listIntro
               .StaticList-row3
                each val in article.list
                    .StaticList-item
                        if val.heading
                            h3= val.heading
                        if val.text
                            p!= val.text

        if !article.includes.table
            #StaticWrapper-tableContainer
                if article.table
                    #StaticWrapper-table
                        if article.blockHeader2
                            div
                                +Heading(article.blockHeader2)
                        div
                            +TextButton--table--noLink
        else
            div
                if article.table
                    #StaticWrapper-table
                        if article.blockHeader2
                            div
                                +Heading(article.blockHeader2)
                        div
                            +TextButton--table--noLink





        if article.includes.form
            #StaticWrapper-form
                if article.blockHeader3
                    div
                        +Heading(article.blockHeader3)
                    div
                include includes/downloadForm.jade


        if article.includes.contact
            #StaticWrapper-form--contact
                if article.blockHeader3
                    div
                        +Heading(article.blockHeader3)
                    div
                //include includes/contactForm.jade






//-////////////////////////////////////////////////////////////////////////////////
//-                                                                              //
//-                                        f                                      //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                      END        f                             //
//-                                                                              //
//-                                            j                                  //
//-                                       j                                       //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-                                                                              //
//-////////////////////////////////////////////////////////////////////////////////


include ../_global/includes/foot/foot.jade
